.myModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #d3d3d3;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}
.myModal.open {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}
.myModal .wrapper {
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}
.myModal .wrapper .closeModal {
  position: absolute;
  right: 15px;
  top: 15px;
  transform: rotate(45deg);
  font-size: 20px;
  color: #f00;
  cursor: pointer;
  font-weight: 900px;
}
body {
  position: relative;
  margin: 0;
}
body .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .App .myMenu {
  position: fixed;
  display: flex;
  padding: 10px;
  margin: 0;
  list-style: none;
  background-color: #add8e6;
  visibility: hidden;
  justify-content: space-around;
}
body .App .myMenu.menuLeft {
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  flex-direction: column;
}
body .App .myMenu.menuRight {
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  flex-direction: column;
}
body .App .myMenu.menuTop {
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  flex-direction: row;
}
body .App .myMenu.menuBottom {
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  flex-direction: row;
}
body .App .myMenu.active {
  visibility: visible;
}
body .App .myMenu .menuItem {
  font-size: 14px;
}
body .App .visibility {
  width: 20px;
  height: 20px;
  background-color: #f00;
  border-radius: 50%;
}
